<h1> captured lemurs</h1>

minimal functionality in place so far.  Accessing data in db; map api not yet installed.

<div class="filter_options_container">
<h2>dropdowns to filter data</h2>


  <form class="filter_form">
		<%= select("lemur", "species", Lemur.all.collect(&:species)) %>
    <input type="submit" value="Filter" />
  </form>
	<form class="filter_form">
		<%= select("lemur", "region", Lemur.all.collect(&:region)) %>
    <input type="submit" value="Filter" />
  </form>
	<form class="filter_form">
		<%= select("lemur", "year", Lemur.	 pluck(&:year)) %>
    <input type="submit" value="Filter" />
  </form>
Filtering and Sorting not in place yet.  
Need to filter for unique values, as well as give option for "no value
Values selected from the drop downs (ideally checkboxes) will used to query the map to note those regions that meet the query criteria.

</div>

<div class="unique-values">
<h2>Same data, listing unique values:</h2>
	<div class="attribute">Species Name:</div>  <%=@lemurs.uniq.pluck(:species)%>
	<div class="attribute">Region of Sighting:</div>  <%=@lemurs.uniq.pluck(:region) %>
	<div class="attribute">Year of Sighting:</div>  <%=@lemurs.uniq.pluck(:year) %>
</div>